[submodule ".config/awesome/bling"]
	path = config/awesome/awesome/bling
	url = https://github.com/BlingCorp/bling.git
; [submodule ".config/awesome/nice"]
; 	path = .config/awesome/nice
; 	url = https://github.com/mut-ex/awesome-wm-nice
; [submodule ".config/awesome/awesome-upower-battery"]
; 	path = .config/awesome/awesome-upower-battery
; 	url = https://github.com/berlam/awesome-upower-battery
; [submodule ".config/awesome/light"]
; 	path = .config/awesome/light
; 	url = https://github.com/troglobit/awesome-light
; [submodule ".config/awesome/awesome-wm-widgets"]
; 	path = .config/awesome/awesome-wm-widgets
; 	url = https://github.com/streetturtle/awesome-wm-widgets
